.section-welcome {
    background-image: url(../images/bg-welcome-eventos.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: initial;
    position: relative;
    padding-top: 220px;
    padding-bottom: 5rem;
    height: calc(112vh - 130px);
}

@media (min-width: 1200px) {
    .section-welcome {
        margin-top: 130px;
    }
}

@media (min-width: 1200px) {
    .section-welcome {
        padding-bottom: 0;
    }
}

.section-welcome .logo-welcome {
    margin-right: 410px;
}

.section-welcome .title-index {
    font-family: 'caroni';
    font-size: 2.8rem;
    color: white;
    line-height: 1;
}

.section-welcome .logo-welcome .welcome-text {}

.section-welcome .logo-welcome .welcome-text p:nth-child(1) {
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
}

.section-welcome .logo-welcome .welcome-text p:nth-child(2) {
    font-size: 2rem;
    font-weight: 300;
}

.section-welcome .logo-welcome img {
    max-width: 250px;
}

@media (max-width: 1200px) {
    .section-welcome .logo-welcome {
        margin-right: 0px;
    }
    .section-welcome .logo-welcome img {
        max-width: 230px;
    }
    .section-welcome {
        padding-top: 245px;
        height: 800px;
    }
}

@media (max-width: 768px) {
    .section-welcome .logo-welcome img {
        max-width: 180px;
    }
    .section-welcome {
        background-position-y: -100px;
        background-position-x: center;
        height: 700px;
        padding-top: 200px;
    }
}

@media (max-width: 768px) {
    .section-welcome .logo-welcome img {
        max-width: 180px;
    }
    .section-welcome {}
}


/*carrusel members*/

.section-members .carousel-indicators {
    bottom: -5rem;
}

.section-members .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #353c34;
    border: none;
}

.section-members .carousel-indicators .active {
    background: linear-gradient(320deg, #9c7ac6 12%, #7b83cb 34%, #5390cf 60%, #0fa5da 89%);
}

.section-members .carousel-control-prev {
    left: -100px;
}

.section-members .carousel-control-next {
    right: -100px;
}

.section-members {
    margin-top: -270px;
}

.section-members .member {}

.section-members .member-title {
    height: 63px;
    font-size: 1.3rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-members .member-description {
    font-size: 1rem;
    font-weight: 300;
}

.section-members .member-img {
    transition: all 0.3s ease;
    border-radius: 50%;
    box-shadow: -2px 10px 20px -1px rgb(0 0 0 / 30%);
    cursor: pointer;
}

.section-members .member-img:hover {
    transform: scale(1.1);
}

.white-gradient {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 5%, rgba(255, 255, 255, 0.6) 10%, rgba(255, 255, 255, 0.8) 17%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 1) 35%, rgba(255, 255, 255, 1) 65%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0.8) 83%, rgba(255, 255, 255, 0.6) 90%, rgba(255, 255, 255, 0.3) 95%, rgba(255, 255, 255, 0) 100%);
}

.section-members .carousel-inner {
    box-shadow: -2px 10px 20px -1px rgb(0 0 0 / 20%), 1px 2px 61px 1px rgb(0 0 0 / 20%) inset;
    border: 1px solid white;
    border-radius: 10px;
}

.section-members .carousel-control-next,
.section-members .carousel-control-prev {
    display: none;
}

@media(max-width:1200px) {
    .section-members .member-img {
        max-width: 170px;
    }
    .section-members {
        margin-top: -190px;
    }
}

@media(max-width:992px) {
    .section-members .member-img {
        max-width: 170px;
    }
}

@media (max-width: 540px) {
    .section-members .member-img {
        max-width: 140px;
    }
    .section-members {
        margin-top: -150px;
    }
}


/*SERVICIOS*/

.section-servicios {
    background-image: url("../images/fondo_2.png");
    background-size: cover;
    @media(min-width: 1200px) {
        height: 600px;
        .row-img {
            cursor: pointer;
            height: 780px;
            margin-top: -90px;
            min-width: 780px;
        }
    }
    .sombra-circle {
        left: 0;
        right: 0;
        width: 1px;
        height: 1px;
        bottom: 45px;
        margin: 0 auto;
        margin-top: 2rem;
        background: transparent;
        box-shadow: 0 0 150px 70px rgb(0 0 0 / 50%);
        border-radius: 50%;
        transform: rotateX(86deg);
        @media(max-width: 1200px) {
            bottom: 7vw;
            box-shadow: 0 0 150px 10vw rgb(0 0 0 / 50%);
        }
        @media(max-width: 600px) {
            bottom: 3vw;
            box-shadow: 0 0 80px 14vw rgb(0 0 0 / 50%);
        }
    }
}

.section-servicios .title {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
}

.section-servicios .text {
    color: white;
    font-weight: 300;
}

.section-servicios ul {
    list-style: none;
}

.section-servicios img {
    width: 120%;
    margin: 1rem;
    transition: all 0.3s ease;
}
.section-servicios img:hover {
    transform:scale(1.1);
}

.img-modal img {
    object-fit: cover;
    width: 100%;
}

.img-modal .modal-content {
    background-color: transparent;
}

#modal-img-1 {}

@media(max-width:1200px) {
    .section-servicios {
        background-image: none;
    }
    .section-servicios .text,
    .section-servicios .title {
        color: #616161;
    }
    .section-servicios img {
        width: 100%;
    }
    .section-servicios .imagenes {
        background-image: url("../images/fondo_2.png");
        background-size: cover;
        height: 70vw;
    }
    .section-servicios .row-img {
        margin-top: -15vw;
        height: 100vw
    }
    .section-servicios img {
        width: 35vw;
        margin: 1rem 0;
    }
}


/*SECTION IMAGENES*/

.section-imagenes .title {
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 1.2;
    color: black;
}

.section-imagenes .sub {
    font-weight: 300;
    color: black;
}

.section-imagenes .img-grid {
    display: grid;
    grid-template-areas: "i1 i2 i2 i2 i3 i4" "i5 i6 i7 i8 i9 i4";
    grid-template-columns: calc(22.5% - 1rem) calc(7.5% - 1rem) calc(7.5% - 1rem) calc(7.5% - 1rem) calc(15% - 1rem) 40%;
    grid-gap: 1rem;
}

.section-imagenes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: -1px 10px 12px 0px rgba(0, 0, 0, 0.28);
}

.section-imagenes #img1 {
    grid-area: i1;
}

.section-imagenes #img2 {
    grid-area: i2;
}

.section-imagenes #img3 {
    grid-area: i3;
}

.section-imagenes #img4 {
    grid-area: i4;
}

.section-imagenes #img5 {
    grid-area: i5;
}

.section-imagenes #img6 {
    grid-area: i6;
}

.section-imagenes #img7 {
    grid-area: i7;
}

.section-imagenes #img8 {
    grid-area: i8;
}

.section-imagenes #img9 {
    grid-area: i9;
}

@media(max-width:992px) {
    .section-imagenes .img-grid {
        margin-left: 2%;
        grid-template-areas: "i1 i1 i1 i2 i2 i2" "i5 i5 i5 i6 i7 i8" "i3 i3 i4 i4 i4 i4" "i9 i9 i4 i4 i4 i4";
        grid-template-columns: calc(16.6% - 1rem) calc(16.6% - 1rem) calc(16.6% - 1rem) calc(16.6% - 1rem) calc(16.6% - 1rem) calc(16.6% - 1rem);
        grid-gap: 1rem;
    }
    .section-imagenes img {
        border-radius: 20px;
    }
}


/*SECCION LOGOS*/

.section-logos {
    background-image: url("../images/fondo_3.png");
    background-size: cover;
}

.section-logos img {
    max-width: 80px;
    margin-bottom: 1rem;
    width: 7vw;
    aspect-ratio: 1 / 1;
}

.section-logos .icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-logos .title {
    font-size: 2rem;
    font-weight: 300;
    color: white;
}

.section-logos .text {
    font-size: 1rem;
    font-weight: 300;
    color: white;
}

.section-logos.mobile {
    background-position-x: right;
}

.section-logos.mobile img {
    width: 16vw;
}


/*SECTION PUNTO*/

.section-punto .title {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.2;
    color: black;
}

.section-punto {
    padding-bottom: 4rem
}

.section-punto .sub {
    font-weight: 300;
    color: black;
}

#punto-carrusel {
    transform: translateY(0%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#punto-carrusel .slick-arrow {
    position: relative;
    width: fit-content;
    height: fit-content;
}

#punto-carrusel .slick-arrow img {
    width: 80px;
    opacity: 0.8;
    transition: all 0.3s ease;
}

#punto-carrusel .slick-arrow:hover img {
    transform: scale(1.1);
    opacity: 1;
}

#punto-carrusel .slick-track .slick-slide:nth-child(2n) {
    transform: translateY(-30%);
}

#punto-carrusel .slick-list {
    width: 80%;
}

.slick-arrow:before {
    content: none;
}

.section-punto .punto-card {
    transition: all 0.3s ease;
    padding: 1.5rem 1.5rem;
    cursor: pointer;
}

.section-punto .punto-card:hover {
    transform: scale(1.1);
}

.section-punto img {}

.section-punto .title-card {
    font-size: 1rem;
    font-weight: 700;
    color: #00a5f1;
}

.section-punto .text-card {
    font-size: 1rem;
    font-weight: 300;
    color: black;
}

#punto-carrusel .slick-track {
    height: 600px;
    display: flex;
    align-items: center;
}

#punto-carrusel .slick-slide {
    height: fit-content;
}

#punto-carrusel .slick-slide img {
    border-radius: 20px;
    width: 100%;
    box-shadow: 0px 0px 27px -2px rgb(0 0 0 / 52%);
    height: fit-content;
}

#punto-carrusel-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#punto-carrusel-mobile .slick-arrow {
    position: relative;
    width: fit-content;
    height: fit-content;
}

#punto-carrusel-mobile .slick-arrow img {
    width: 80px;
}

#punto-carrusel-mobile .slick-track .slick-slide .col-6:nth-child(2n) .punto-card {
    transform: translateY(-20%);
}

#punto-carrusel-mobile .slick-list {
    padding-top: 8rem;
    width: 100%;
}

#punto-carrusel-mobile .slick-track {
    height: fit-content;
    display: flex;
    align-items: center;
}

#punto-carrusel-mobile .slick-slide {
    height: fit-content;
}

#punto-carrusel-mobile .slick-slide img {
    border-radius: 20px;
    width: 100%;
    box-shadow: 0px 0px 27px -2px rgb(0 0 0 / 52%);
    height: fit-content;
}

#punto-carrusel-mobile .slick-dots {
    position: relative;
}

#punto-carrusel-mobile .slick-dots li button:before {
    color: #309dd5;
    font-size: 12px;
}


/*SECTION UBICACION*/

.section-ubicacion .ubi-info {
    background-image: url("../images/fondo_4.png");
    background-size: cover;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.section-ubicacion .ubi-logo {
    background-image: url("../images/m_11.png");
    background-size: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

@media(max-width:768px) {
    .section-ubicacion .ubi-info {
        background-image: none;
        background: linear-gradient(360deg, rgba(156, 122, 198, 1) 12%, rgba(123, 131, 203, 1) 34%, rgba(83, 144, 207, 1) 60%, rgba(15, 165, 218, 1) 89%);
        border-radius: 0px;
    }
    .section-ubicacion .ubi-logo {
        aspect-ratio: 1/1;
        border-radius: 0px;
    }
    .section-ubicacion .ubi-logo img {
        max-width: 80px;
    }
}

.section-ubicacion .text {
    font-size: 1rem;
    font-weight: 300;
    color: white;
}

.section-ubicacion .sub {
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
}

.section-ubicacion .title {
    font-size: 2.1rem;
    font-weight: 300;
    line-height: 1.2;
    color: white;
}


/*SECTION DUDAS*/

.section-dudas .title {
    font-size: 2.3rem;
    font-weight: 300;
    color: black;
}

.section-dudas .sub {
    font-size: 1.1;
    font-weight: 300;
    color: black;
}

.section-dudas {
    background-image: url("../images/fond.svg");
    background-size: cover;
}

@media (max-width: 600px) {
    .section-imagenes img {
        border-radius: 10px;
    }
}