.section-welcome.s1 {
    background-image: url(../images/fondo_5.png);
    @media (max-width: 1200px) {
         background-image: none;
        .col-text {
            padding-top: 135px;
            background-image: url(../images/fondo_5.png);
            padding-bottom: 10%;
        }
        
    }
}

.section-welcome.s2 {
    background-image: url(../images/fondo_6.png);
    @media (max-width: 1200px) {
         background-image: none;
        .col-text {
            padding-top: 135px;
            background-image: url(../images/fondo_6.png);
            padding-bottom: 10%;
        }
    }
}

.section-welcome.s3 {
    background-image: url(../images/fondo_6.png);
    @media (max-width: 1200px) {
         background-image: none;
        .col-text {
            padding-top: 135px;
            background-image: url(../images/fondo_6.png);
            padding-bottom: 10%;
        }
    }

}

.section-welcome {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: initial;
    position: relative;
    margin-bottom: 200px;
    margin-top: 170px;
    .img-wel {
        height: 100%;
    }
    img {
        transform: scale(1.2);
        height: 100%;
        object-fit: cover;
    }
    @media (max-width: 1200px) {
        margin-bottom: 100px;
        margin-top: 0px;
        img {
            aspect-ratio: 1.3 / 1;
            object-fit: cover;
            transform: none;
        }
        
        .img-wel {
            margin-top: -10%;
            margin-bottom: 0px;
            height: 100%;
        }
    }
    @media (max-width: 992px) {
        img {
            transform: none;
        }
    }
}

.section-welcome .title {
    font-size: 2.4rem;
    font-weight: 700;
    color: white;
}

.section-welcome .sub {
    font-size: 1.8rem;
    font-weight: 300;
    color: white;
}

.section-welcome .sombra-circle {
    left: 0;
    right: 0;
    width: 1px;
    height: 1px;
    margin: 0 auto;
    margin-top: 10%;
    background: transparent;
    box-shadow: 0 0 150px 180px rgb(0 0 0 / 50%);
    border-radius: 50%;
    transform: rotateX(86deg);
}

@media (min-width: 1200px) {
    .section-welcome .sombra-circle {
        box-shadow: 0 0 200px 300px rgb(0 0 0 / 50%);
        transform: rotateX(87deg);
        margin-top:20%;
    }
}
@media (max-width: 450px) {
    .section-welcome .sombra-circle {
        box-shadow: 0 0 150px 100px rgb(0 0 0 / 50%);
        
        margin-top: 10%;
    }
}

.section-slide {
    background-image: url(../images/bg-slide-eventos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.title {
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 1.2;
    color: #373a37;
}

.content-slider {}

@media (min-width: 1200px) {
    .section-slide {
        padding-bottom: 0;
    }
}

.section-slide .title {
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 1.2;
    color: black;
}

.section-slide .sombra-circle {
    width: 1px;
    height: 1px;
    margin: 0 auto;
    background: transparent;
    box-shadow: 0 0 150px 100px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transform: rotateX(86deg);
}

@media (min-width: 768px) {
    .section-slide .sombra-circle {
        box-shadow: 0 0 150px 200px rgba(0, 0, 0, 0.5);
        transform: rotateX(87deg);
    }
}

@media (min-width: 768px) {
    .section-slide .sombra-circle {
        box-shadow: 0 0 200px 300px rgba(0, 0, 0, 0.5);
        transform: rotateX(87deg);
    }
}

.section-slide .title-btn-secciones {
    color: #ffffff;
    margin-top: calc(1rem + 2rem);
    margin-bottom: 0;
    text-align: center;
}

.section-slide .content-btn-secciones {
    text-align: center;
    margin-top: calc(3rem - 0.5rem);
}

.section-slide .content-btn-secciones a {
    margin-top: 1rem;
}

.section-slide .content-btn-secciones a img {
    height: 1.8rem;
    margin-right: 0.5rem;
}

.section-slide .border-arc {
    position: relative;
    width: 150%;
    height: 20rem;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin-top: 5rem;
    background: #ffffff;
    border: 1px solid #ffffff;
    left: 50%;
    transform: translateX(-50%);
}

.section-cards-top {
    background-color: #ffffff;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media (min-width: 1200px) {
    .section-cards-top {
        margin-top: -18rem;
    }
}

.section-cards-top .cards-cuadradas {
    box-shadow: 0px 93px 33px -87px rgba(0, 0, 0, 0.2);
}

@media (max-width: 991.98px) {
    .section-cards-top .cards-cuadradas {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .section-cards-top .cards-cuadradas::-webkit-scrollbar {
        display: none;
    }
}

.section-cards-top .cards-cuadradas .card {
    border: none;
    border-radius: 10px;
    transition: all .5s;
    margin: 0 1rem;
    border-radius: calc(.8rem - 1px);
    box-shadow: 0px 0px 16px 9px rgba(142, 58, 252, 0.1);
}

.section-cards-top .cards-cuadradas .card .card-header {
    border-radius: calc(.8rem - 1px) calc(.8rem - 1px) 0 0;
    background: radial-gradient(ellipse at center, #5365cb 0%, #5365cbd9 18%, #5365cb 100%);
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.2rem;
}

.section-cards-top .cards-cuadradas .card .card-header .iconos-top {
    height: 1.4rem;
    margin-right: .4rem;
}

.section-cards-top .cards-cuadradas .card .col-izq {
    border-right: 2px solid #3432336b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-cards-top .cards-cuadradas .card .col-izq .number-top {
    font-size: 1.2rem;
    color: #5365cb;
    font-weight: 600;
}

.section-cards-top .cards-cuadradas .card .content-img {
    border-radius: 50%;
}

.section-cards-top .cards-cuadradas .card .content-img img {
    border-radius: 50%;
}

.section-cards-top .cards-cuadradas .card .details-card .title-card {
    font-weight: 600;
    margin-bottom: 0;
    font-size: 1.1rem;
}

.section-cards-top .cards-cuadradas .card .details-card .subtitle-card {
    margin-bottom: 0;
    font-size: 1rem;
    color: #aaa9a9;
}

.section-cards-top .cards-cuadradas .card .col-sombreada {
    background-color: #EFEFEF;
}

.section-cards-top .cards-cuadradas .card-izq {
    border-radius: calc(.8rem - 1px) calc(.8rem - 1px) calc(.8rem - 1px) 80px;
}

.section-cards-top .cards-cuadradas .card-der {
    border-radius: calc(.8rem - 1px) calc(.8rem - 1px) 80px calc(.8rem - 1px);
}

.section-cards .title {
    font-size: 2.4rem;
    font-weight: 700;
    color: #01a4f1;
}

.section-cards .card-tarifa {}

.section-cards .tarifa-info {
    transform: translateY(-18%);
    box-shadow: 0px 0px 20px 1px rgb(0 0 0 / 87%);
    width: 80%;
    margin: auto;
    border-radius: 15px;
    text-align: center;
    background-color: white;
}

.section-cards img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.section-cards a.btn {}

.section-cards .sub {
    font-size: 1.4rem;
    font-weight: 600;
    color: black;
}

.section-cards .text {
    font-size: 0.8rem;
    font-weight: 200;
    color: black;
}

.section-cards .price {
    line-height: 1.3;
    font-size: 2rem;
    font-weight: 700;
    color: #01a4f1;
}

#carrusel-cards .slick-arrow {
    top: calc(35% - 40px);
    width: fit-content;
    height: fit-content;
}

.section-cards .slick-arrow img {
    width: 80px;
}

#carrusel-cards .slick-list {
    width: 80%;
}

#carrusel-cards .slick-arrow:before {
    content: none;
}

#carrusel-cards .slick-track {
    display: flex;
    align-items: center;
}

#carrusel-cards .slick-slide {
    height: fit-content;
}

#carrusel-cards .slick-slide img {
    border-radius: 20px;
    width: 100%;
    height: fit-content;
}

#carrusel-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section-inf-eventos {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-image: url(../images/home/bg-inf-eventos.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.section-inf-eventos .title-section {
    font-size: 2rem;
    color: #ffffff;
}

.section-inf-eventos .title-section span {
    font-weight: bold;
}

.section-inf-eventos .text-section {
    color: #ffffff;
}

@media (max-width: 768px) {
    .carousel-material {
        overflow: visible;
        position: relative;
        width: 85%;
        margin: 0 auto;
        aspect-ratio: 780 / 680;
    }
}

@media (max-width: 450px) {
    .carousel-material {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .carousel-material {
        margin: 0 auto;
        aspect-ratio: 780 / 460;
        width: 70%;
        perspective: 1200px;
        transform-style: preserve-3d;
        transform-origin: 0% 50%;
    }
}

.carousel-material.carousel-slider {
    top: 0;
    left: 0;
}

.carousel-material.carousel-slider .carousel-fixed-item {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 1;
}

.carousel-material.carousel-slider .carousel-fixed-item.with-indicators {
    bottom: 68px;
}

.carousel-material .carousel-material-item {
    visibility: hidden;
    width: 100%;
    aspect-ratio: 647 / 465;
    position: absolute;
    top: 0;
    left: 0;
}

@media (min-width: 768px) {
    .carousel-material .carousel-material-item {
        width: 70%;
    }
}

.carousel-material .carousel-material-item>img {
    width: 100%;
}

.carousel-material.scrolling .carousel-material-item .materialboxed,
.carousel-material .carousel-material-item:not(.active) .materialboxed {
    pointer-events: none;
}

.section-eventos {
    padding-top: 1rem;
    padding-bottom: 5rem;
}

.section-eventos .carousel-indicators {
    bottom: -5rem;
}

.section-eventos .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #5365cb;
}

.section-eventos .carousel-control-prev {
    left: -100px;
}

.section-eventos .carousel-control-next {
    right: -100px;
}

.card-evento {
    border-radius: 15px;
}

.card-evento .btn-green-white,
.card-evento .btn-blue-white {
    padding-left: .7rem;
    padding-right: .7rem;
    font-size: .5rem;
}

@media (min-width: 768px) {
    .card-evento .btn-green-white,
    .card-evento .btn-blue-white {
        font-size: .8rem;
    }
}

@media (min-width: 992px) {
    .card-evento .btn-green-white,
    .card-evento .btn-blue-white {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.card-evento .header-card {
    padding: 1rem;
    display: flex;
    align-items: center;
}

.card-evento .header-card .bg-gray {
    background-color: #EAEAEA;
    color: #5365cb;
    padding: .8rem;
}

@media (min-width: 992px) {
    .card-evento .header-card .bg-gray {
        padding: 0.5rem 1.2rem;
        font-size: .9rem;
    }
}

.card-evento .header-card .title-card-evento {
    font-weight: 600;
    margin-bottom: 0;
    font-size: .9rem;
}

@media (min-width: 992px) {
    .card-evento .header-card .title-card-evento {
        font-size: 1.1rem;
    }
}

.card-evento .header-card .text-card-evento {
    margin-bottom: 0;
    font-size: .9rem;
    color: #aaa9a9;
}

.card-evento .content-info {
    position: relative;
    width: 100%;
    padding-top: 80%;
}

.card-evento .content-info .img-card-info {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    position: absolute;
    top: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card-evento .content-info .footer-card {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card-evento .content-info .footer-card .icon-card {
    color: #ffffff;
    margin-bottom: 0;
    margin-left: 1rem;
    font-size: 1rem;
}

.card-evento .content-info .footer-card .icon-card i {
    margin-right: .5rem;
}

.card-evento .content-info .footer-card .bg-footer-card {
    background: #ffffffbb;
    padding: .8rem;
    text-align: center;
}

.content-slider {
    position: relative;
}

.content-slider .carousel-material .carousel-material-item {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0s ease-in-out;
    border-radius: 15px;
}

.content-slider .carousel-material .carousel-material-item .header-slider {
    background-color: #ffffff;
    margin: 0;
    padding: 1rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.content-slider .carousel-material .carousel-material-item .header-slider .badge {
    background-color: #f0f0f0;
    padding: 0.5rem 2rem;
    border-radius: 50px;
    color: #5365cb;
    font-size: 0.9rem;
}

.content-slider .carousel-material .carousel-material-item .header-slider .title-slider {
    margin: 0;
}

.content-slider .carousel-material .carousel-material-item .content-info {
    position: relative;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.content-slider .carousel-material .carousel-material-item .content-info .footer-slider {
    width: 100%;
    background-color: #f085b899;
    padding: 0.5rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.content-slider .carousel-material .carousel-material-item .content-info .footer-slider .text-slider {
    margin: 0;
    color: white;
    font-size: 1rem;
}

.content-slider .carousel-material .carousel-material-item .content-info .footer-slider .text-slider i {
    padding-right: 1rem;
    color: #13cbe7;
}

.content-slider .carousel-material .carousel-material-item .content-info .footer-slider .btn {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.8rem;
}

.content-slider .carousel-material .carousel-material-item img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: -1;
    transition: .5s ease;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
}

.content-slider .carousel-material .carousel-material-item .placa-slider {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    background: linear-gradient(180deg, white 0, rgba(255, 255, 255, 0.9) 20%, rgba(255, 255, 255, 0) 40%);
}

.content-slider .carousel-material-prev,
.content-slider .carousel-material-next {
    width: 60px;
    height: 60px;
    padding: 0;
    border: 0;
    background: transparent;
    position: absolute;
    opacity: 1;
    transition: all 0.3s;
}

.content-slider .carousel-material-prev:hover,
.content-slider .carousel-material-next:hover {
    opacity: 0.5;
}

.content-slider .carousel-material-prev img,
.content-slider .carousel-material-next img {
    width: 100%;
    height: 100%;
}

.content-slider .carousel-material-next {
    top: calc(50% - 30px);
    right: -5%;
}

.content-slider .carousel-material-prev {
    top: calc(50% - 30px);
    left: -5%;
}


/*
@media (max-width: 1200px) {
    .content-slider .carousel-material-prev,
    .content-slider .carousel-material-next {
        display: none;
        bottom: -15%;
        left: 0%;
        right: 0%;
    }
    .content-slider .carousel-material-prev {
        transform: translate(-100%, 100%);
        margin-left: calc(50% - 30px);
    }
    .content-slider .carousel-material-next {
        transform: translate(0%, 100%);
        margin-left: calc(50% + 30px);
    }
}
*/

#slider__dots {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider__dot {
    display: block;
    margin: 0.4rem;
    width: 0.7rem;
    height: 0.7rem;
    background: #353c34;
    border-radius: 100px;
    cursor: pointer;
    opacity: 0.8;
}

.slider__dot.active {
    background: linear-gradient(320deg, #9c7ac6 12%, #7b83cb 34%, #5390cf 60%, #0fa5da 89%);
    opacity: 1;
}


/*logos*/

.section-logos {
    background-image: url("../images/fondo_3.png");
    background-size: cover;
}

.section-logos img {
    max-width: 80px;
    margin-bottom: 1rem;
    width: 10vw;
    aspect-ratio: 1 / 1;
}

.section-logos .icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-logos .title {
    font-size: 2rem;
    font-weight: 300;
    color: white;
}

.section-logos .text {
    font-size: 1rem;
    font-weight: 300;
    color: white;
}

.section-logos.mobile {
    background-position-x: right;
}

.section-logos.mobile img {
    width: 16vw;
}

@media(max-width:992px) {
    .section-logos {
        background: linear-gradient(360deg, rgba(156, 122, 198, 1) 12%, rgba(123, 131, 203, 1) 34%, rgba(83, 144, 207, 1) 60%, rgba(15, 165, 218, 1) 89%);
    }
}

.section-grid {
    background-color: #f9f9f9;
    
}

.section-grid .container .row:nth-child(1) .img-card {}

.section-grid .container .text-card {
    background-color: white;
}

.section-grid .title {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.6;
}

.section-grid .text {
    font-size: 1.2rem;
    font-weight: 300;
}

.section-grid img {
    cursor:pointer;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.section-grid hr {
    margin: 0 auto;
    width: 35px;
    height: 2px;
    background-color: black;
    opacity: 1;
}

.section-cards .title {
    font-size: 2.4rem;
    font-weight: 700;
    color: #01a4f1;
}

.section-cards .card-tarifa {}

.section-cards .tarifa-info {
    transform: translateY(-18%);
    box-shadow: 0px 0px 20px 1px rgb(0 0 0 / 87%);
    width: 80%;
    margin: auto;
    border-radius: 15px;
    text-align: center;
    background-color: white;
}

.section-cards img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.section-cards a.btn {}

.section-cards .sub {
    font-size: 1.4rem;
    font-weight: 600;
    color: black;
}

.section-cards .text {
    font-size: 0.8rem;
    font-weight: 300;
    color: black;
}

.section-cards .price {
    line-height: 1.3;
    font-size: 2rem;
    font-weight: 700;
    color: #01a4f1;
}

#carrusel-cards .slick-arrow {
    top: calc(35% - 40px);
    width: fit-content;
    height: fit-content;
}

.section-cards .slick-arrow img {
    width: 80px;
}

#carrusel-cards .slick-list {
    width: 80%;
}

#carrusel-cards .slick-arrow:before {
    content: none;
}

#carrusel-cards .slick-track {
    display: flex;
    align-items: center;
}

#carrusel-cards .slick-slide {
    height: fit-content;
}

#carrusel-cards .slick-slide img {
    border-radius: 20px;
    width: 100%;
    height: fit-content;
}

#carrusel-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/*
@media(max-width:450px) {
    .carousel-material .carousel-material-item {
        height: 320px;
    }
    .carousel-material {
        height: 320px;
    }
    .section-slide .sombra-circle {
        margin-top: 4rem;
    }
}*/

.img-modal img {
    object-fit: cover;
    width: 100%;
}

.img-modal .modal-content {
    background-color: transparent;
}