.btn-rounded {
  border-radius: 10px;
  line-height: 1.75; }

.btn-custom {
  font-size: .6rem; }
  @media (min-width: 450px) {
    .btn-custom {
      font-size: .8rem; } }

.btn-white-transparent {
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  font-weight: bold;
  background: transparent;
  transition: all 0.3s;
  border: 1px solid white; }
  .btn-white-transparent:hover {
    color: #B787B1; }
  .btn-white-transparent:before {
    background: white;
    border-radius: 50px; }
  .btn-white-transparent:focus {
    box-shadow: none;
    color: #B787B1; }


.btn-yellowgr-blue {
  padding-left: 2rem;
  padding-right: 2rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  background: linear-gradient(180deg, #f7d054 0%, #fb831b 100%);
  border: none;
  transition: all 0.3s; }
  .btn-yellowgr-blue a {
    font-size: 1rem; }
  .btn-yellowgr-blue:hover {
    color: #6A72C5;
    box-shadow: 0 0 1px 1px #f7d054; }
  .btn-yellowgr-blue:before {
    background: #fff;
    border-radius: 50px; }
  .btn-yellowgr-blue:focus {
    box-shadow: none;
    color: #6A72C5; }

.btn-yellowgr-white {
  padding-left: 2rem;
  padding-right: 2rem;
  color: #fff;
  font-weight: bold;
  background: linear-gradient(180deg, #f7d054 0%, #fb831b 100%);
  border: none;
  transition: all 0.3s; }
  .btn-yellowgr-white:hover {
    color: #544f77;
    box-shadow: 0 0 1px 1px #f7d054; }
  .btn-yellowgr-white:before {
    background: #fff;
    border-radius: 50px; }
  .btn-yellowgr-white:focus {
    box-shadow: none;
    color: #544f77; }

.btn-white-purple {
  padding-left: 3rem;
  padding-right: 3rem;
  background: transparent;
  border: 2px solid #6E60E7;
  color: #6E60E7;
  font-weight: 700;
  transition: color 0.3s, background 0.5s; }
  .btn-white-purple:hover {
    color: #fff;
    background: #6E60E7; }
  .btn-white-purple:before {
    background: #6E60E7;
    color: #fff;
    border-radius: 50px; }
  .btn-white-purple:focus {
    box-shadow: none;
    color: #fff; }

.btn-purple-white {
  padding-left: 3rem;
  padding-right: 3rem;
  background: #6E60E7;
  transition: all 0.3s;
  border: 2px solid #6E60E7;
  color: #fff;
  font-weight: 700; }
  .btn-purple-white:hover {
    color: #6E60E7; }
  .btn-purple-white:before {
    background: #fff;
    color: #6E60E7;
    border-radius: 50px; }
  .btn-purple-white:focus {
    box-shadow: none;
    color: #6E60E7; }

.btn-center-out {
  transform: perspective(1px) translateZ(0);
  overflow: hidden; }

.btn-center-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.3s; }

.btn-center-out:hover:before,
.btn-center-out:focus:before,
.btn-center-out:active:before {
  transform: scale(1.15); }

.section-producto {
  .slick-slide img {
    display: block;
    
    margin: 0 auto;
}
  }
  .section-producto .title-section {
    font-size: 1.8rem;
    font-weight: bold;
    color: #2C53A2;
    margin-bottom: 2rem; }
  .section-producto .slider-productos {
    position: relative;
    width: 85%;
    margin: 0 auto; }
    .section-producto .slider-productos .btn-categoria {
      border-radius: 50%;
      background: linear-gradient(180deg, #f7d054 0%, #fb831b 100%);
      width: 70px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 2rem;
      left: 0;
      transition: all .3s;
      z-index: 1; }
      @media (min-width: 600px) {
        .section-producto .slider-productos .btn-categoria {
          transform: translateX(-50%); } }
      .section-producto .slider-productos .btn-categoria .categoria {
        color: white;
        margin-bottom: 0;
        font-weight: 400;
        font-size: 1rem; }
        @media (min-width: 425px) {
          .section-producto .slider-productos .btn-categoria .categoria {
            font-size: .8rem; } }
    .section-producto .slider-productos .slider-for {
      background-color: #EDEDED;
      border-radius: 10px;
      margin-bottom: 1rem; }
      .section-producto .slider-productos .slider-for .slick-next {
        width: 10%;
        right: -25px;
        z-index: 1; }
        @media (min-width: 425px) {
          .section-producto .slider-productos .slider-for .slick-next {
            right: -35px; } }
        @media (min-width: 600px) {
          .section-producto .slider-productos .slider-for .slick-next {
            right: -45px; } }
        @media (min-width: 768px) {
          .section-producto .slider-productos .slider-for .slick-next {
            right: -60px; } }
        @media (min-width: 992px) {
          .section-producto .slider-productos .slider-for .slick-next {
            right: -40px; } }
        @media (min-width: 1200px) {
          .section-producto .slider-productos .slider-for .slick-next {
            right: -50px; } }
        .section-producto .slider-productos .slider-for .slick-next:before {
          content: url("../images/arrow-right-p.svg"); }
      .section-producto .slider-productos .slider-for .slick-prev {
        width: 10%;
        z-index: 1;
        left: -25px; }
        @media (min-width: 425px) {
          .section-producto .slider-productos .slider-for .slick-prev {
            left: -35px; } }
        @media (min-width: 600px) {
          .section-producto .slider-productos .slider-for .slick-prev {
            left: -45px; } }
        @media (min-width: 768px) {
          .section-producto .slider-productos .slider-for .slick-prev {
            left: -60px; } }
        @media (min-width: 992px) {
          .section-producto .slider-productos .slider-for .slick-prev {
            left: -40px; } }
        @media (min-width: 1200px) {
          .section-producto .slider-productos .slider-for .slick-prev {
            left: -50px; } }
        .section-producto .slider-productos .slider-for .slick-prev:before {
          content: url("../images/arrow-left-p.svg"); }
    .section-producto .slider-productos .slider-nav .slick-slide {
      background-color: #EDEDED;
      margin: 0 .5rem; }
    .section-producto .slider-productos .slider-nav .slick-next {
      width: 5%;
      right: -25px;
      z-index: 1; }
      .section-producto .slider-productos .slider-nav .slick-next:before {
        content: url("../images/right.svg"); }
    .section-producto .slider-productos .slider-nav .slick-prev {
      width: 5%;
      z-index: 1;
      left: -25px; }
      .section-producto .slider-productos .slider-nav .slick-prev:before {
        content: url("../images/left.svg"); }
  .section-producto .compartir-redes {
    background-color: #ededed;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: .5rem 1rem; }
    .section-producto .compartir-redes ul {
      display: flex;
      align-items: center;
      list-style: none;
      margin-bottom: 0; }
      .section-producto .compartir-redes ul li {
        transition: all .3s;
        padding: 0 1rem;
        cursor: pointer; }
        .section-producto .compartir-redes ul li:hover {
          transform: scale(0.8); }
  .section-producto .content-text {
    margin-top: 2rem;
    list-style: none;
    padding-left: 0; }
  .section-producto .now-price {
    color: #3C3664;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0; }
  .section-producto .before-price {
    color: #BF3082;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
    text-decoration: line-through; }
    .section-producto .before-price span {
      color: #3C3664; }
  .section-producto .col-derecha {
    display: flex;
    justify-content: center;
    align-items: center; }
    .section-producto .col-derecha .btn-yellowgr-blue {
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 1rem; }
      @media (min-width: 1200px) {
        .section-producto .col-derecha .btn-yellowgr-blue {
          padding-left: 2rem;
          padding-right: 2rem;
          font-size: 1.2rem; } }
    .section-producto .col-derecha a .carrito {
      display: inline; }
    .section-producto .col-derecha a .carrito-purple {
      display: none; }
    .section-producto .col-derecha a:hover .carrito {
      display: none;
      transition: all .3s; }
    .section-producto .col-derecha a:hover .carrito-purple {
      display: inline;
      transition: all .3s; }

.section-caracteristicas .tabs {
  background: radial-gradient(circle, #2d3683 0%, #051723 70%);
  padding: 0;
  list-style: none;
  position: relative;
  padding: 2rem 0;
  font-size: .8rem; }
  @media (min-width: 485px) {
    .section-caracteristicas .tabs {
      font-size: 1rem; } }
  @media (min-width: 1200px) {
    .section-caracteristicas .tabs {
      font-size: 1.2rem;
      font-weight: bold; } }
  .section-caracteristicas .tabs .active-tab {
    position: relative;
    color: #FEAC0B;
    border-bottom: none; }
  .section-caracteristicas .tabs li {
    display: inline-block;
    cursor: pointer;
    color: #fff;
    padding: .5rem 1rem; }
    @media (min-width: 768px) {
      .section-caracteristicas .tabs li {
        padding: .5rem 2rem; } }
    .section-caracteristicas .tabs li:nth-child(2) {
      border-left: 1px solid #ffffffaa;
      border-right: 1px solid #ffffffaa; }

.section-caracteristicas .tabs-content {
  margin-top: 3rem;
  padding: 0;
  list-style: none; }
  .section-caracteristicas .tabs-content li {
    background-color: #EDEDED;
    padding: 3rem;
    border-radius: 10px;
    display: none;
    position: relative; }
    .section-caracteristicas .tabs-content li .triangulo1,
    .section-caracteristicas .tabs-content li .triangulo2,
    .section-caracteristicas .tabs-content li .triangulo3 {
      position: absolute;
      top: -40px;
      left: 0;
      width: 0;
      height: 0;
      border-right: 20px solid transparent;
      border-top: 20px solid transparent;
      border-left: 20px solid transparent;
      border-bottom: 20px solid #EDEDED; }
    .section-caracteristicas .tabs-content li .triangulo1 {
      transform: translateX(25px); }
      @media (min-width: 360px) {
        .section-caracteristicas .tabs-content li .triangulo1 {
          transform: translateX(42px); } }
      @media (min-width: 425px) {
        .section-caracteristicas .tabs-content li .triangulo1 {
          transform: translateX(50px); } }
      @media (min-width: 485px) {
        .section-caracteristicas .tabs-content li .triangulo1 {
          transform: translateX(60px); } }
      @media (min-width: 768px) {
        .section-caracteristicas .tabs-content li .triangulo1 {
          transform: translateX(80px); } }
    .section-caracteristicas .tabs-content li .triangulo2 {
      transform: translateX(100px); }
      @media (min-width: 360px) {
        .section-caracteristicas .tabs-content li .triangulo2 {
          transform: translateX(135px); } }
      @media (min-width: 425px) {
        .section-caracteristicas .tabs-content li .triangulo2 {
          transform: translateX(170px); } }
      @media (min-width: 485px) {
        .section-caracteristicas .tabs-content li .triangulo2 {
          transform: translateX(210px); } }
      @media (min-width: 768px) {
        .section-caracteristicas .tabs-content li .triangulo2 {
          transform: translateX(250px); } }
    .section-caracteristicas .tabs-content li .triangulo3 {
      transform: translateX(180px); }
      @media (min-width: 360px) {
        .section-caracteristicas .tabs-content li .triangulo3 {
          transform: translateX(225px); } }
      @media (min-width: 425px) {
        .section-caracteristicas .tabs-content li .triangulo3 {
          transform: translateX(290px); } }
      @media (min-width: 485px) {
        .section-caracteristicas .tabs-content li .triangulo3 {
          transform: translateX(345px); } }
      @media (min-width: 768px) {
        .section-caracteristicas .tabs-content li .triangulo3 {
          transform: translateX(430px); } }


          
          .banner-comprar {
            background-image: url(../images/dark-blue.jpg);
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            background-size: cover;
            height: 60vh;
            position: relative;
            display: flex;
            align-items: center; 
            @media(max-width: 586px){
              height:80vh;
                 
            }
          .cel{
            width: 180px;
            @media(max-width: 768px){
              width: 35%;    
            }
          }
          .log{ 
            @media(max-width: 768px){
            width: 180px;
            margin-bottom: 1rem;
            
          }
          }
          .title{
            color: white;
            font-size: 2.5rem;
            font-weight: 600;
            @media(max-width: 768px){
              font-size: 1.8rem;
              line-height: 1;
              margin-bottom: 1rem;
            }
          }
          }
            .banner-comprar .placa-banner {
              position: absolute;
              background-color: #213397aa;
              width: 100%;
              height: 100%;
              top: 0; }
            .banner-comprar .cel-banner {
              position: absolute;
              bottom: 30%;
              width: 90vw;
              opacity: .7; }
              @media (min-width: 385px) {
                .banner-comprar .cel-banner {
                  
                  bottom: 20%; } }
              @media (min-width: 500px) {
                .banner-comprar .cel-banner {
                  width: 90vw;
                  bottom: 20%; } }
              @media (min-width: 768px) {
                .banner-comprar .cel-banner {
                  right: 0;
                  transform: translateX(-20%) translateY(-20%);
                  width: 50%;
                  bottom: 30%;
                  opacity: 1; } }
              @media (min-width: 992px) {
                .banner-comprar .cel-banner {
                  bottom: 10%;
                  right: 5%;
                  width: 50%;
                  opacity: 1; } }
              @media (min-width: 1200px) {
                .banner-comprar .cel-banner {
                  width: 40%;
                  opacity: 1; } }
              @media (min-width: 1600px) {
                .banner-comprar .cel-banner {
                  width: 35%;
                  opacity: 1; } }
            .banner-comprar .contenedor-slide {
              margin-top: 5rem;
              width: 100%; }
              @media (min-width: 768px) {
                .banner-comprar .contenedor-slide {
                  width: 60%; } }
              @media (min-width: 992px) {
                .banner-comprar .contenedor-slide {
                  width: 40%;
                  margin-top: 0; } }
              @media (min-width: 1200px) {
                .banner-comprar .contenedor-slide {
                  width: 35%;
                  margin-top: 0; } }
              .banner-comprar .contenedor-slide .single-item {
                text-align: center; }
                @media (min-width: 768px) {
                  .banner-comprar .contenedor-slide .single-item {
                    box-shadow: 0px -1px 22px 3px rgb(75 107 208 / 74%);
                    background: linear-gradient(to bottom, #ba87b0 0%, #4b6bd0 59%, #4b6bd0 100%);
                    border-radius: 15px;
                     } }
                .banner-comprar .contenedor-slide .single-item .slide {
                  color: #fff;
                  @media (max-width: 768px) {
                  padding: 1.5rem 4rem;       
                }
                padding: 1rem 4rem; 
              }
                 
                  .banner-comprar .contenedor-slide .single-item .slide .title-card-banner {
                    font-weight: 600;
                    font-size: 1.6rem;
                    margin-bottom: 0.5rem; }
                    @media (min-width: 450px) {
                      .banner-comprar .contenedor-slide .single-item .slide .title-card-banner {
                        font-size: 1.8rem; } }
                    @media (min-width: 1600px) {
                      .banner-comprar .contenedor-slide .single-item .slide .title-card-banner {
                        font-size: 2rem; } }
                  .banner-comprar .contenedor-slide .single-item .slide .text-card-banner {
                    font-size: 1rem;
                    font-weight: 700;
                    margin-bottom: 0; }
                    @media (min-width: 450px) {
                      .banner-comprar .contenedor-slide .single-item .slide .text-card-banner {
                        font-size: 1rem; } }
                    @media (min-width: 1600px) {
                      .banner-comprar .contenedor-slide .single-item .slide .text-card-banner {
                        font-size: 1rem; } }
                .banner-comprar .contenedor-slide .single-item .slick-dots {
                  bottom:unset;
                  margin-top: 1rem;
                  display: flex;
                  align-items: center;
                  justify-content: center; }
                  .banner-comprar .contenedor-slide .single-item .slick-dots li button:before {
                    font-size: 20px;
                    color: #8075ED;
                    opacity: 1; }
                  .banner-comprar .contenedor-slide .single-item .slick-dots li.slick-active button:before {
                    opacity: .75;
                    color: #385F8A; }
                .banner-comprar .contenedor-slide .single-item .slick-next {
                  width: 10%;
                  right: 5px;
                  z-index: 1; }
                  .banner-comprar .contenedor-slide .single-item .slick-next:before {
                    content: url("../images/arrow-right.svg"); }
                .banner-comprar .contenedor-slide .single-item .slick-prev {
                  width: 10%;
                  z-index: 1;
                  left: 5px; }
                  .banner-comprar .contenedor-slide .single-item .slick-prev:before {
                    content: url("../images/arrow-left.svg"); }
            .banner-comprar .box {
              position: absolute;
              width: fit-content;
              bottom: 0;
              left: 0%;
              right: 0;
              margin: 0 auto;
              z-index: 1;
              transform: translateY(20px);
              transition: all .3s;  }     
              
.col-logo{
  @media(max-width: 586px){
    
    padding-top:50px;    
  }
  img{
    max-width: 350px;

  }
}              


#img-logo{
  max-width: 330px;
}


.img-app{
  img{
    margin:0 auto;
   
  }
}