/*perfil*/

#side-menu {
    transition: all 0.5s ease;
    background-color: #022f96;
    border-radius: 15px;
    left: 0;
    top: 0;
    height: 0px;
    width: 100%;
}

#side-menu a p {
    color: white;
    font-size: 1rem;
}

#side-menu ul {
    list-style: none;
}

#side-menu a {
    text-decoration: none;
}

#side-trigger {
    color: #022f96;
    cursor: pointer;
    font-size: 1.4rem;
}

#side-menu.opened {
    transition: all 0.5s ease;
    height: 215px;
    padding: 1rem;
}

@media (max-width: 768px) {
    #side-menu.opened {
        height: 180px;
    }
}

@media (max-width: 424.98px) {
    #side-menu.opened {
        height: 152px;
    }
}

#side-trigger::after {
    transition: all 0.5s ease;
    content: "";
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    background: url("../../assets/images/chevrons-down-red.svg");
    background-position: center;
    background-size: contain;
}

#side-trigger.opened::after {
    transform: rotateX(3.142rad);
}

.section-direciones {
    background-image: url(../images/bg-welcome-eventos.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 5rem;
}

@media (min-width: 992px) {
    .section-direciones {
        padding-top: 150px;
    }
}

.section-direciones .content-direcciones {
    background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid lightgray;
}

.section-direciones .content-direcciones h2 {
    text-align: center;
    color: #022f96;
    font-weight: 600;
}

.section-direciones .content-direcciones ul.lg-menu {
    list-style: none;
}

.section-direciones .content-direcciones ul.lg-menu a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
}

.section-direciones .content-direcciones ul.lg-menu a:hover,
.section-direciones .content-direcciones ul.lg-menu a:active {
    color: #13cbe7;
}

.section-direciones .content-direcciones .menu-col {
    box-shadow: 29px 1px 10px -28px #8e8a8c;
}

.section-direciones .content-direcciones .choose a {
    font-weight: 600;
}

.section-direciones .content-direcciones .choose a:hover,
.section-direciones .content-direcciones .choose a:active,
.section-direciones .content-direcciones .choose a:focus {
    color: #022f96;
}

.btn-underline-from-center:before {
    background: white;
}